@charset "utf-8";
@import url(menu.css);
@import url(contenu.css);
@import url(article.css);
<<<<<<< HEAD
=======
@import url(slick.css);
@import url(slick-theme.css);


>>>>>>> 792c8c4c38a097dc028dd64e12ae05ff1368c028
@font-face {
    font-family: 'open_regular';
    src:url(../font/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'open_bold';
    src:url(../font/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'open_light';
    src:url(../font/OpenSans/OpenSans-Light.ttf);
}
@font-face {
	font-family: 'open_light';
	src:url(../font/OpenSans/OpenSans-Light.ttf);
}

body
{
    font-family:'open_regular';
}

* {
    position: relative;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}
h1
{
    font-family:'open_bold';
    font-size:3em;
    text-transform: uppercase;
}
h2
{
<<<<<<< HEAD
	font-family:'open_bold';
	font-size:1.5em;
	text-transform: uppercase; 

=======
    font-family:'open_bold';
    font-size:1.5em;
    text-transform: uppercase;
>>>>>>> 792c8c4c38a097dc028dd64e12ae05ff1368c028
}
h3
{
    font-family:'open_regular';
    font-size:0.8em;
    color:#333333;
    text-transform: uppercase;
}
h4
{
    font-family:'open_regular';
    font-size:0.8em;
    color:#fff;
}
a
{
    text-decoration:none;
    color:#888888;
}

a:visited
{
    color:#666666;
    text-decoration:none;
}

img{
    width: 100%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
.displayNone{
    display:none;
}

