/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.example
/nbproject
.DS_Store
hydromel-laravel/.DS_Store
public/.DS_Store
public/css/.DS_Store